
.idea/vcs.xml
.idea/modules.xml
.idea/misc.xml
.idea/kris-diaz.github.io.iml
.idea/inspectionProfiles/Project_Default.xml
.idea/inspectionProfiles/profiles_settings.xml
/.idea
.idea/workspace.xml
/resume
